{% extends 'base.html' %}
{% block title %}Academics - LBRCE{% endblock %}

{% block content %}
    <section class="academics-section">
        <h2>Academics</h2>
        <p>Explore the diverse academic branches offered at LBRCE. Choose your desired department below:</p>
        
        <div class="academics-links">
            <div class="academics-card">
                <a href="/academics/CSE/">CSE</a>
            </div>
            <div class="academics-card">
                <a href="/academics/AIDS/">AIDS</a>
            </div>
            <div class="academics-card">
                <a href="/academics/MECH/">MECH</a>
            </div>
            <div class="academics-card">
                <a href="/academics/IT/">IT</a>
            </div>
            <div class="academics-card">
                <a href="/academics/CSML/">CSML</a>
            </div>
        </div>
    </section>
{% endblock %}
